.timeline-container {
    width: 400vw;
    height: 100vh;
    display: flex;
    color: white;
  }

  .panel {
    flex: 0 0 100vw;
  }

  .section-one {
    height: 100%;
    display: flex;
  }

  .section-two {
    height: 100%;
    display: flex;
  }

  .section-three {
    height: 100%;
    display: flex;
    
  }

  img {
    width: 100%;
  }