body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    height: 90vh;
    width: 100vw;
}

.nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.nav > a {
    font-family: 'Belanosima', sans-serif;
    color: black;
    text-underline-offset: 4px;
    margin: 5vh 2.5vw 0 2.5vw;
    transition: all 0.5s ease-in-out;
}

.nav > a:hover {
    transform: scale(1.025);
}